# Copyright 2012 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Description
# This test verifies that the system will not suspend while audio is playing.

NAME = "power_AudioDetector"
METADATA = {
    "contacts": ["chromeos-platform-power@google.com"],
    "bug_component": "b:167191",
    "criteria": """
                Fail if any of the following occur:
                - The system suspends during audio playback.
                - The powerd log does not contain logging to indicate that the audio detector
                """,
    "hw_agnostic": False
}
ATTRIBUTES = "suite:bvt-perbuild"
TEST_TYPE = "client"

job.run_test("power_AudioDetector")
