# Copyright 2014 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = "login_CryptohomeOwnerQuery"
METADATA = {
    "contacts": ["cros-hwsec@google.com", "zuan@chromium.org"],
    "bug_component": "b:1188704",
    "criteria": ("This test verifies that the owner user query in cryptohome "
                 "reports the proper status. The test will wipe credentials "
                 "from the device and verify that the query shows no owner, "
                 "then give the device an owner and verify the query result "
                 "changes."),
    "hw_agnostic": False
}
ATTRIBUTES = "suite:bvt-perbuild, suite:distributed_lab_qual_bvt_shard1"
TEST_TYPE = "client"

job.run_test('login_CryptohomeOwnerQuery')
