# Copyright 2020 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

TIME='Short'
AUTHOR = 'The ChromiumOS Authors'
METADATA = {
  "contacts": [
    "chromeos-core-services@google.com",
    "chromeos-sw-engprod@google.com"
  ],
  "bug_component": "b:908319",
  "criteria": "Client side test for testing periodic update checks."
}
DOC = """Client side test for testing periodic update checks."""

NAME = 'autoupdate_PeriodicCheck'
TEST_TYPE = 'client'
PY_VERSION = 3

job.run_test('autoupdate_PeriodicCheck')
