# Copyright 2019 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

from autotest_lib.server import utils

NAME = "audio_AudioTestAssumptionCheck"
METADATA = {
    "contacts": ["chromeos-audio-sw@google.com"],
    "bug_component": "b:875558",
    "criteria": "This test will fail if functions that audio tests rely on are broken.",
    "doc" : "This test audio functions work correctly."
}
TEST_TYPE = "server"
#ATTRIBUTES = "suite:audio_advanced"
DEPENDENCIES = "chameleon, audio_board"
JOB_RETRIES = 1

def run(machine):
    host = hosts.create_host(machine)
    job.run_test("audio_AudioTestAssumptionCheck", host=host)

parallel_simple(run, machines)
