# Description
# This test records power related statistics while staying idle, and
# compares between wifi on and off.

NAME = "power_WifiIdle"
METADATA = {
    "contacts": ["chromeos-platform-power@google.com"],
    "author": "ChromeOS Team",
    "bug_component": "b:167191",
    "criteria": "This test is a benchmark test",
    "hw_agnostic": False,
}
# ATTRIBUTES = ("suite:power_daily")
TEST_TYPE = "client"

args_dict = utils.args_to_dict(args)
pdash_note = args_dict.get('pdash_note', '')
job.run_test('power_WifiIdle', pdash_note=pdash_note)
