# Description
# This test records power related statistics while displaying different static
# pages.

NAME = "power_Display"
METADATA = {
    "contacts": ["chromeos-platform-power@google.com"],
    "bug_component": "b:167191",
    "criteria": "This test is a benchmark.",
    "hw_agnostic": False
}
ATTRIBUTES = "suite:power_daily, suite:power_check, suite:power_monitoring"
TEST_TYPE = "client"

args_dict = utils.args_to_dict(args)
pdash_note = args_dict.get('pdash_note', '')
job.run_test('power_Display', pdash_note=pdash_note)
