# Copyright 2018 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = "touch_GestureNav"
METADATA = {
    "contacts": ["chromeos-tango@google.com"],
    "bug_component": "b:167253",
    "criteria": "Two finger swipe can navigate back and forth.",
    "hw_agnostic": False
}
ATTRIBUTES = "suite:touch_replay_touchpad"
TEST_TYPE = "client"
DEPENDENCIES = "touchpad"

job.run_test('touch_GestureNav')
