# Copyright 2020 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = 'audio_CrasGetNodes'
METADATA = {
    "contacts": ["chromeos-audio-bugs@google.com"],
    "bug_component": "b:875558",
    "criteria": """
                Check if the values of active, volume, and max supported
                channels of ALSA loopback input and output nodes are correct
                by dbus GetNodes API.
                """
}
ATTRIBUTES = "suite:audio, suite:bvt-perbuild, suite:distributed_lab_qual_bvt_shard1"
TEST_TYPE = 'client'
DEPENDENCIES = ''
HW_DEPS = ['!chromeless_tty']

'''
Test that dbus GetNodes API of CRAS is working.

NOTE: For this test kernel config is required to have CONFIG_SND_ALOOP=m which
makes snd-aloop is manually probeable.
'''

job.run_test('audio_CrasGetNodes')
