# Copyright 2018 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

from autotest_lib.server import utils

NAME = "audio_AudioBasicHotwording"
METADATA = {
    "contacts": ["chromeos-audio-sw@google.com"],
    "bug_component": "b:875558",
    "criteria": "This test will fail if the captured audio after hotword does not match the original file",
    "doc" : "Tests hotwording function"
}
TEST_TYPE = "server"
ATTRIBUTES = "suite:audio_essential"
DEPENDENCIES = "audio_box, hotwording"
JOB_RETRIES = 1

args_dict = utils.args_to_dict(args)
chameleon_args = hosts.CrosHost.get_chameleon_arguments(args_dict)

def run(machine):
    host = hosts.create_host(machine, chameleon_args=chameleon_args)
    job.run_test("audio_AudioBasicHotwording", host=host)

parallel_simple(run, machines)
