# Copyright 2018 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

TIME='Short'
AUTHOR = 'The ChromiumOS Authors'
METADATA = {
  "contacts": [
    "chromeos-core-services@google.com",
    "chromeos-sw-engprod@google.com"
  ],
  "bug_component": "b:908319",
  "criteria": "Client side test of the update_engine backoff mechanism."
}
DOC = """
Client side test of the update_engine backoff mechanism.
This will be called from the server tests: autoupdate_OmahaResponse.backoff*
"""

NAME = 'autoupdate_Backoff'
TEST_TYPE = 'client'
PY_VERSION = 3

job.run_test('autoupdate_Backoff')
