# Copyright 2017 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = "detachablebase_TriggerHammerd"
AUTHOR = "ChromeOS Team"
METADATA = {
        "contacts": ["chromeos-faft@google.com", "jbettis@chromium.org"],
        "bug_component": "b:792402", # ChromeOS > Platform > Enablement > Firmware > FAFT
        "criteria": "Check hammerd starts correctly on boot."
}
TIME = "SHORT"
TEST_TYPE = "client"
ATTRIBUTES = "suite:bvt-perbuild"
DEPENDENCIES = "detachablebase"

DOC = """
The test checks hammerd upstart job is triggered on boot and exits normally.
"""

job.run_test('detachablebase_TriggerHammerd')
