# Copyright 2015 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = "touch_TabSwitch"
METADATA = {
    "contacts": ["chromeos-tango@google.com"],
    "bug_component": "b:167253",
    "criteria": "Three finger swipe left/right changes tabs. Not affected by Australian.",
    "hw_agnostic": False
}
ATTRIBUTES = "suite:touch_replay_touchpad"
TEST_TYPE = "client"
DEPENDENCIES = "touchpad"

job.run_test('touch_TabSwitch')
