# Copyright 2021 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

from autotest_lib.server import utils

AUTHOR = "ChromeOS Team"
NAME = "firmware_ECSystemLocked"
METADATA = {
        "contacts": ["chromeos-faft@google.com", "jbettis@chromium.org"],
        "bug_component": "b:792402", # ChromeOS > Platform > Enablement > Firmware > FAFT
        "criteria": "Ensure that CONFIG_SYSTEM_UNLOCKED is unset"
}
ATTRIBUTES = "suite:faft_ec_fw_qual"
TIME = "SHORT"
TEST_TYPE = "server"
JOB_RETRIES = 0
DEPENDENCIES = "ec:cros, servo_state:WORKING"

DOC = """
This test ensures that the EC can be locked by trying to lock it
then querying its lock state through the 'sysinfo' command.
"""

args_dict = utils.args_to_dict(args)
servo_args = hosts.CrosHost.get_servo_arguments(args_dict)

def run_ecsystemlocked(machine):
    host = hosts.create_host(machine, servo_args=servo_args)
    job.run_test("firmware_ECSystemLocked", host=host, cmdline_args=args,
                 disable_sysinfo=True)

parallel_simple(run_ecsystemlocked, machines)
