# Copyright 2021 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "dhaddock, The ChromiumOS Authors"
NAME = "desktopui_RootfsLacros"
TEST_CATEGORY = "Functional"
TEST_CLASS = "platform"
TEST_TYPE = "client"
PURPOSE = "Get rootfs-lacros version."
TIME = "SHORT"
ATTRIBUTES = "suite:bvt-perbuild, suite:distributed_lab_qual_bvt_shard1"
PY_VERSION = 3
DOC = """ Tests launching rootfs-lacros and checking version number. """

job.run_test('desktopui_RootfsLacros')
