# Copyright 2014 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "n/a"
NAME = "desktopui_SimpleLogin"
METADATA = {
    "contacts": ["tauto-core@google.com"],
    "bug_component": "b:1284375", # ChromeOS > Test > Harness > Tauto > Examples
    "criteria": "This test logs in and waits forever (or until exit flag is seen).",
    "hw_agnostic": True
}
TEST_TYPE = "client"

job.run_test('desktopui_SimpleLogin')
