# Copyright 2014 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Tests different region configurations at OOBE.
#
# This test verifies the locale and keyboard options present at OOBE under
# supported region configurations.

NAME = "login_OobeLocalization"
METADATA = {
    "contacts": ["cros-oobe@google.com", "bohdanty@google.com"],
    "bug_component": "b:1263090", # ChromeOS > Software > OOBE
    "criteria": "Fails if the language or keyboard dropdowns in OOBE under a supported region configuration do not include the desired values.",
    "hw_agnostic": True
}
ATTRIBUTES = "suite:bvt-perbuild, suite:distributed_lab_qual_bvt_shard1"
TEST_TYPE = 'client'
JOB_RETRIES = 2

job.run_test('login_OobeLocalization')
