# Copyright 2020 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "kyleshima, The ChromiumOS Authors"
NAME = "autoupdate_UpdateFromUI"
METADATA = {
  "contacts": [
    "chromeos-core-services@google.com",
    "chromeos-sw-engprod@google.com"
  ],
  "bug_component": "b:908319",
  "criteria": "Tests triggering an update from the UI."
}
TEST_TYPE = "client"
TIME = "SHORT"
PY_VERSION = 3
DOC = """ Tests triggering an update from the UI. """

job.run_test('autoupdate_UpdateFromUI')
