# Copyright 2018 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = 'network_WiFiResume'
METADATA = {
    'contacts': ['chromeos-wifi-champs@google.com'],
    # ChromeOS > Platform > Connectivity > WiFi
    'bug_component': 'b:893827',
    'criteria': 'Ensure wifi interface is found after suspend-resume',
    'hw_agnostic': False,
}
ATTRIBUTES = ('suite:network_nightly, suite:bvt-perbuild')
TEST_TYPE = 'client'


job.run_test('network_WiFiResume')
