# Copyright 2014 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = 'harpreet, krisr, wiley'
TIME = 'SHORT'
NAME = 'network_WiFi_ChromeEndToEnd'
TEST_TYPE = 'Server'
DEPENDENCIES = 'wificell, peripheral_wifi_state:WORKING'

DOC = """
WiFi_ChromeEndToEnd test configures two APs and runs the client side
network_ChromeWifiEndToEnd test which uses these APs to test the UI.
"""

METADATA = {
    'contacts': ['chromeos-connectivity-engprod@google.com'],
    'bug_component': 'b:978946',
    'criteria': 'Test autoconnect to previously connected WiFi network',
    'hw_agnostic': False
}

def run(machine):
    host = hosts.create_host(machine)
    job.run_test('network_WiFi_ChromeEndToEnd',
                 host=host,
                 raw_cmdline_args=args,
                 test='all')


parallel_simple(run, machines)
