# Copyright 2023 The ChromiumOS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = "network_ChromeWifiConfigure"
METADATA = {
    'contacts': ['cros-device-enablement@google.com','chromeos-connectivity-engprod@google.com'],
    'bug_component': 'b:1131912',
    'criteria': 'Verify that chrome.networkingPrivate can configure a wifi network. '
                'The test will fail if the Chrome fails to configure the wifi network, '
                'or if the getProperties fails to retreive the correct properties once configured.',
    'hw_agnostic': False
}
ATTRIBUTES = "suite:wifi_endtoend"
TEST_TYPE = "client"

DOC = """
  Tests that Chrome can do the following using chrome.networkingPrivate:
  * Configure a new wifi network with Security = psk.
  * Receive the properties of the newly configured network.
  * Properties of the network match the configured values.
"""

job.run_test('network_ChromeWifiConfigure')
