# Copyright 2012 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "ChromeOS Team"
NAME = "network_EthernetStressPlug"
PURPOSE = "Stress-test Ethernet plug/unplug"
CRITERIA = """
This test fails if device fails to obtain dhcp through ethernet.
"""
PY_VERSION = 3

# Note: This test is currently only intended for manual runs in
# a "well controlled" enviroment.  This test is primarily intended for
# use in Ethernet AVL qual and the "records" should land in a related bug.
# Compare the information recorded with later runs if there is a problem.
#
# I strongly encourage users to record the configuration (DUT mfg/model,
# Ethernet mfg/model, Chrome OS version, BIOS Version, etc.) and test
# results (histogram of the time to restore link) in a spreadsheet.
# One can then use the spreadsheet to track differences when there
# is a regression in a "known" configuration.
#
TIME = "SHORT"
TEST_CATEGORY = "Stress"
TEST_CLASS = "network"
TEST_TYPE = "client"

DOC = """
  Stress-tests simulating plugging/unplugging the ethernet dongle.
"""

# We want the default number of loops per test run
# to be 100.
num_iterations = 100
interface=None # autodetect interface

# Parse comma-separated args.
for arg in args:
    for item in arg.split(','):
        key, val = item.split('=')
        if key == 'num_iterations':
            num_iterations = int(val)
        if key == 'interface':
            interface = val

job.run_test('network_EthernetStressPlug', num_iterations=num_iterations,
    interface=interface)
