# Copyright 2020 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "mqg"
NAME = "power_BatteryDesignCapacity"
PURPOSE = "Qualify battery design capacity."
CRITERIA = "Test passes for most devices after they are used for a few months."
TIME = "SHORT"
TEST_CATEGORY = "Benchmark"
TEST_CLASS = "power"
TEST_TYPE = "client"
ATTRIBUTES = "suite:power_build"

DOC = """
This test verifies that the battery full charge reflects the battery design
capacity after the device has been used for a few months.

If the battery full charge is usually lower than the battery design capacity,
then it is not fair to use the battery design capacity in tests such as
power_LoadTest. In this case, apply a discount on the battery design capacity
like https://crrev.com/c/2417836 and https://crrev.com/c/2521653 CLs.
"""

job.run_test('power_BatteryDesignCapacity')
