# Copyright 2014 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Description
# This test:
# 1. Checks that the default brightness after initial boot is reasonable.
# 2. Changes the brightness level to min (0%) and max (100%).
# 3. Checks that the brightness level resets after rebooting the device.

# The test fails if:
# -Initial brightness is not reasonable.
# -Device not able to change brightness to min and max levels.
# -Device not able to set the brightness level to default after reboot.

# Example usage:
# test_that -b <board> <host> power_BrightnessResetAfterReboot

NAME = "power_BrightnessResetAfterReboot"
METADATA = {
    "contacts": ["cros-power-notifications@google.com"],
    "bug_component": "b:1361410",
    "criteria": "This test will fail if unable to set the default brightness after reboot.",
    "hw_agnostic": False
}
TEST_TYPE = "server"
ATTRIBUTES = "suite:bvt-perbuild, suite:partners, suite:distributed_lab_qual_bvt_shard1, group:release-health, release-health_power"
REQUIRE_SSP = False

from autotest_lib.server import utils

def run(machine):
    host = hosts.create_host(machine)
    job.run_test("power_BrightnessResetAfterReboot", host=host,
                 client_autotest="desktopui_SimpleLogin")

parallel_simple(run, machines)
