# Copyright 2014 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = "touch_TapSettings"
METADATA = {
    "contacts": ["chromeos-tango@google.com"],
    "bug_component": "b:167253",
    "criteria": "Tap-to-click and tap-drag work/not_work when eanbled/disabled.",
    "hw_agnostic": False
}
ATTRIBUTES = "suite:touch_replay_touchpad"
TEST_TYPE = "client"
DEPENDENCIES = "touchpad"

job.run_test('touch_TapSettings')
