# Copyright 2018 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "dhaddock, The ChromiumOS Authors"
NAME = "desktopui_CheckRlzPingSent"
METADATA = {
  "contacts": [
    "chromeos-sw-engprod@google.com"
  ],
  "bug_component": "crbug:Internals>Metrics>RLZ",
  "criteria": "Tests that the CAF and CAI rlz pings are sent after ping timeout."
}
TEST_TYPE = "client"
TIME = "SHORT"
DOC = """ Tests that the CAF and CAI rlz pings are sent after ping timeout. """
PY_VERSION = 3

job.run_test('desktopui_CheckRlzPingSent')
