# Copyright 2010 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "ChromeOS Team"
NAME = "firmware_RomSize"
METADATA = {
        "contacts": ["chromeos-faft@google.com", "jbettis@chromium.org"],
        "bug_component": "b:792402", # ChromeOS > Platform > Enablement > Firmware > FAFT
        "criteria": "Ensure the firmware size is large enough."
}
TIME = "SHORT"
TEST_TYPE = "client"

DOC = """
This test relies on dmidecode to find the ROM Size.
"""

job.run_test('firmware_RomSize')
