# Copyright 2018 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Description
# This is a suspending stress test. It suspends the system many times
# when memory is low. It simulates the memory fragmentation by creating
# many tabs and cycling tabs.

NAME = "power_LowMemorySuspend"
METADATA = {
    "contacts": ["chromeos-platform-power@google.com"],
    "author": "Vovo Yang",
    "bug_component": "b:167191",
    "criteria": "Fails if system hang or reboot during this test",
    "hw_agnostic": False,
}
ATTRIBUTES = ("suite:crosbolt_perf_weekly")
TEST_TYPE = "client"

job.run_test('power_LowMemorySuspend')
