# Copyright 2010 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Description
# Device should be plugged into an AC outlet.
# This test depends on power_status.py, which is included in
# autotest/files/client/cros/power/. power_status.py has many status
# initialization and parsing routines for battery status.

NAME = "power_BatteryCharge"
METADATA = {
    "contacts": ["chromeos-platform-power@google.com"],
    "bug_component": "b:167191",
    "criteria": "This test is a benchmark.",
    "hw_agnostic": False
}
ATTRIBUTES = ""
TEST_TYPE = "client"

job.run_test('power_BatteryCharge')
