# Copyright 2010 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Description
# This test will run for 200 seconds.

# This test depends upon power_status.py from AutoTest to provide battery
# state updates. This test requires that AC power is off.

NAME = "power_Draw"
METADATA = {
    "contacts": ["chromeos-platform-power@google.com"],
    "bug_component": "b:167191",
    "criteria": "This test is a benchmark.",
    "hw_agnostic": False
}
ATTRIBUTES = ""
TEST_TYPE = "client"

tag = 'PowerDraw'
seconds = 200


def run_power_draw():
    job.run_test('power_Draw', seconds=seconds, tag=tag)


def run_sat():
    job.run_test('hardware_SAT', seconds=seconds, tag=tag)


def run_gpu():
    job.run_test('graphics_GLBench',
                 options='-tests fill:triangle -duration %d' % seconds,
                 tag=tag)


job.parallel([run_power_draw], [run_sat], [run_gpu])
