# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Description
# This test records power related statistics while the system is idling.
#
#     Current tests,
#
#       | test# | seconds | display   | bluetooth |
#       -------------------------------------------
#       | 1     | 120     | off       | off       |
#       | 2     | 120     | default   | off       |
#       | 3     | 120     | default   | on - idle |
#       | 4     | 120     | off       | on - idle |

NAME = "power_Idle"
METADATA = {
    "contacts": ["chromeos-platform-power@google.com"],
    "author": "ChromeOS Team",
    "bug_component": "b:167191",
    "criteria": "This test is a benchmark",
    "requirements": ["pwr-batLife-0009-v01"],
    "hw_agnostic": False,
}
ATTRIBUTES = ("suite:bvt-perbuild, suite:power_idle, suite:power_check, "
              "suite:power_monitoring, suite:distributed_lab_qual_bvt_shard1")
TEST_TYPE = "client"

args_dict = utils.args_to_dict(args)
pdash_note = args_dict.get('pdash_note', '')
job.run_test('power_Idle', pdash_note=pdash_note, force_discharge='optional',
             tast_bundle_path=args_dict.get('tast_bundle_path'))
