# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Description
# This test measures percentage time spent at each CPU frequency level when
# the system is idle

NAME = "power_StatsCPUFreq"
METADATA = {
    "contacts": ["chromeos-platform-power@google.com"],
    "author": "ChromeOS Team",
    "bug_component": "b:167191",
    "criteria": "This test is a benchmark test",
    "hw_agnostic": False,
}
ATTRIBUTES = ("suite:power_build")
TEST_TYPE = "client"

job.run_test('power_StatsCPUFreq')
