# Copyright (c) 2014 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = "touch_ScrollDirection"
METADATA = {
    "contacts": ["chromeos-tango@google.com"],
    "bug_component": "b:167253",
    "criteria": "Touchpad scroll occurs in expected direction. Repeats with Australian.",
    "hw_agnostic": False
}
ATTRIBUTES = "suite:touch_replay_touchpad"
TEST_TYPE = "client"
DEPENDENCIES = "touchpad"

job.run_test('touch_ScrollDirection')
