# Copyright 2018 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = "platform_InitLoginPerf"
METADATA = {
    "contacts": ["cros-hwsec@google.com", "zuan@chromium.org"],
    "bug_component": "b:1188704",
    "criteria": ("Client side test that measures the first boot initialization "
                 "and login performance. This test goes through initialization "
                 "and logins and measures performance. The stages are called by "
                 "platform_InitLoginPerfServer."),
    "hw_agnostic": False
}
TEST_TYPE = "client"

job.run_test('platform_InitLoginPerf')
