# Description
# This test simulates video call multitasking and record power related statistic.
# Workload
# - Camera preview in 720p using VP9 codec.
# - Four 720p 30fps video playback with two VP8 videos and two VP9 videos.
# - Google Doc with emulated typing.
# The run time is 2 hours to allow the DUT to heat up to steady state.


NAME = "power_VideoCall"
METADATA = {
    "contacts": ["chromeos-platform-power@google.com"],
    "author": "puthik",
    "bug_component": "b:167191",
    "criteria": "This test is a benchmark test",
    "hw_agnostic": False,
}
ATTRIBUTES = ("")
TEST_TYPE = "client"

args_dict = utils.args_to_dict(args)
pdash_note = args_dict.get('pdash_note', '')
job.run_test('power_VideoCall', pdash_note=pdash_note,
             min_run_time_percent=75,
             tast_bundle_path=args_dict.get('tast_bundle_path'),)
