# Copyright 2014 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = 'bmahadev, harpreet, krisr'
TIME = 'SHORT'
NAME = 'network_WiFi_RoamEndToEnd'
TEST_TYPE = 'Server'
ATTRIBUTES = ''
DEPENDENCIES = 'wificell'

DOC = """
WiFi_RoamEndToEnd test configures two APs with the same ssid and runs the
client side network_RoamWifiEndToEnd test which uses these APs to test
WiFi roaming between two Open Networks.
"""

METADATA = {
    'contacts': ['chromeos-connectivity-engprod@google.com'],
    'bug_component': 'b:978946',
    'criteria': 'Test WiFi roaming between two Open Networks',
    'hw_agnostic': False
}

def run(machine):
    host = hosts.create_host(machine)
    job.run_test('network_WiFi_RoamEndToEnd',
                 host=host,
                 raw_cmdline_args=args)


parallel_simple(run, machines)
